@using Cloudy.CMS.UI.FormSupport
@using System.Text.Json
@using System.Globalization
@model FieldViewModel

@{
    string value = null;
    string backendValue = null;

    if (Model.Value is DateTime dateTime)
    {
        value = dateTime.ToString("yyyy-MM-ddTHH:mm");
        backendValue = dateTime.ToString("o", CultureInfo.InvariantCulture);
    }

    if (Model.Value is DateTimeOffset dateTimeOffset)
    {
        value = dateTimeOffset.ToString("yyyy-MM-ddTHH:mm");
        backendValue = dateTimeOffset.ToString("o", CultureInfo.InvariantCulture);
    }

    if (Model.Value is TimeSpan timeSpan)
    {
        value = timeSpan.ToString("yyyy-MM-ddTHH:mm");
        backendValue = timeSpan.ToString("o", CultureInfo.InvariantCulture);
    }


    var settings = new
    {
        ControlName = Model.Field.Name,
        ControlId = $"field-{Model.Field.Name}",
        Type = "datetime-local",
        InitialValue = value,
        InitialBackendValue = backendValue,
    };
}

<div class="date-picker-control" settings="@JsonSerializer.Serialize(settings, new JsonSerializerOptions { PropertyNamingPolicy = JsonNamingPolicy.CamelCase })"></div>