@using Cloudy.CMS.UI.FormSupport
@using System.Text.Json
@model FieldViewModel

@{
    string value = null;

    if(Model.Value is DateTime dateTime){
        value = dateTime.ToString("yyyy-MM-dd");
    }

    if(Model.Value is DateTimeOffset dateTimeOffset){
        value = dateTimeOffset.ToString("yyyy-MM-dd");
    }

    if(Model.Value is DateOnly dateOnly){
        value = dateOnly.ToString("yyyy-MM-dd");
    }

    if (Model.Value is TimeSpan timeSpan)
    {
        value = timeSpan.ToString("yyyy-MM-dd");
    }

    var settings = new
    {
        ControlName = Model.Field.Name,
        ControlId = $"field-{Model.Field.Name}",
        Type = "date",
        InitialValue = value,
        InitialBackendValue = Model.Value.ToString(),
    };
}

<div class="date-picker-control" settings="@JsonSerializer.Serialize(settings, new JsonSerializerOptions { PropertyNamingPolicy = JsonNamingPolicy.CamelCase })"></div>