@using Cloudy.CMS.UI.FormSupport
@model FieldViewModel

<input type="hidden" id="field-@Model.Field.Name" name="@Model.Field.Name" value="@Model.Value">
<div class="html-control" for="#field-@Model.Field.Name"></div>