@using Cloudy.CMS.UI.FieldTypes.MediaPicker
@using Cloudy.CMS.UI.FormSupport
@using System.Text.Json

@model FieldViewModel

@{
    var settings = new {
        Provider = Model.Property.Attributes.OfType<MediaPickerAttribute>().First().Provider,
        ControlName = Model.Field.Name,
        InitialValue = Model.Value,
    };
}

<div class="media-picker-control" settings="@(JsonSerializer.Serialize(settings, new JsonSerializerOptions().CloudyDefault()))"></div>