@using Cloudy.CMS.UI.FormSupport
@using System.Text.Json

@model FieldViewModel

@{
    var settings = new { };
}

<div class="media-picker-control" settings="@(JsonSerializer.Serialize(settings, new JsonSerializerOptions { PropertyNamingPolicy = JsonNamingPolicy.CamelCase }))"></div>