@using Cloudy.CMS.ContentTypeSupport
@using Cloudy.CMS.UI.FormSupport
@using System.Linq
@using Cloudy.CMS.UI.FormSupport.FieldTypes
@using System.Text.Json
@model FieldViewModel

@inject IContentTypeProvider ContentTypeProvider

@{
    var selectAttribute = Model.Field.Attributes.OfType<SelectAttribute>().FirstOrDefault();

    if (selectAttribute == null)
    {
        throw new Exception($"The property {Model.Field.Name} on type {Model.Field.Type} does not have a [Select] attribute that specifies Type. How come you are using this partial?");
    }

    var type = ContentTypeProvider.Get(selectAttribute.Type);

    if (type == null)
    {
        throw new Exception($"The [Select] attribute on property {Model.Field.Name} on type {Model.Field.Type} specifies the type {selectAttribute.Type}, which is not an instance type tracked by Cloudy.");
    }
}

<div class="select-one-control" settings="@(JsonSerializer.Serialize(new { controlName = Model.Field.Name, contentType = type.Name, pageSize = 10, value = Model.Value }))"></div>