@using Cloudy.CMS.UI.FormSupport
@using System.Text.Json
@model FieldViewModel

@{
    string value = null;

    if (Model.Value is DateTime dateTime)
    {
        value = dateTime.ToString("HH:mm");
    }

    if (Model.Value is DateTimeOffset dateTimeOffset)
    {
        value = dateTimeOffset.ToString("HH:mm");
    }

    if (Model.Value is TimeOnly timeOnly)
    {
        value = timeOnly.ToString("HH:mm");
    }

    if (Model.Value is TimeSpan timeSpan)
    {
        value = timeSpan.ToString("HH:mm");
    }

    var settings = new
    {
        ControlName = Model.Field.Name,
        ControlId = $"field-{Model.Field.Name}",
        Type = "time",
        InitialValue = value,
        InitialBackendValue = Model.Value.ToString(),
    };
}

<div class="date-picker-control" settings="@JsonSerializer.Serialize(settings, new JsonSerializerOptions { PropertyNamingPolicy = JsonNamingPolicy.CamelCase })"></div>