@using Poetry.UI.PortalSupport
@using Poetry.ComponentSupport
@using Poetry.UI.ScriptSupport
@using Poetry.UI.StyleSupport

@inject ITitleProvider TitleProvider
@inject IFaviconProvider FaviconProvider
@inject IComponentProvider ComponentProvider
@inject IScriptProvider ScriptProvider
@inject IStyleProvider StyleProvider

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>@TitleProvider.Title</title>

    <base href="@Context.Request.PathBase/">

    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="icon" href="@FaviconProvider.Favicon">

    @foreach (var script in ScriptProvider.GetAll())
    {
        <script type="module" src="/_content/@script.ComponentId/@script.Path" crossorigin="use-credentials"></script>
    }
    @foreach (var style in StyleProvider.GetAll())
    {
        <link rel="stylesheet" type="text/css" href="/_content/@style.ComponentId/@style.Path" />
    }
</head>
<body>
    <script type="module">
        import Portal from '/_content/Cloudy.CMS.UI/portal.js';
        new Portal();
    </script>
</body>
</html>