@page
@using Cloudy.CMS.Naming
@using Cloudy.CMS.UI.FormSupport
@model Cloudy.CMS.UI.Areas.Admin.Pages.EditModel

@inject INameGetter NameGetter

@await Html.PartialAsync("Shared/Nav")

<div class="container">
    <h1 class="h2">
        <a href="@Url.Page("List", new { area = "Admin", ContentType = Model.ContentType.Name })">@Model.ContentTypeName.PluralName</a>
        /
        Edit <span class="opacity-75">@NameGetter.GetName(Model.Instance)</span>
        <a class="btn btn-sm btn-beta" href="@Url.Page("List", new { area = "Admin", ContentType = Model.ContentType.Name })">Back</a>
    </h1>

    <div class="card">
        <div class="card-body">
            @await Component.InvokeAsync("Form", new { area = "Admin", ContentType = Model.ContentType.Name, Instance = Model.Instance })
        </div>
    </div>
</div>
