@page

@model Cloudy.CMS.UI.Areas.Admin.Pages.IndexModel

@await Html.PartialAsync("Shared/Nav")

<div class="container">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb mb-4">
            <li class="breadcrumb-item active">Home</li>
        </ol>
    </nav>
</div>

<div class="container">
    <h1 class="h2 mb-3">
        What to edit?
    </h1>
</div>

<div class="container">
    <div class="row entity-type-list"></div>
</div>

@await Html.PartialAsync("Shared/Footer")