@page

@model Cloudy.CMS.UI.Areas.Admin.Pages.IndexModel

@*@await Html.PartialAsync("Shared/Nav")*@

@*<div class="container">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb mb-4">
            <li class="breadcrumb-item active">Home</li>
        </ol>
    </nav>
</div>*@

<div id="app"></div>