@page
@using Cloudy.CMS.ContentTypeSupport
@using Cloudy.CMS.ContentTypeSupport.Name
@using System.ComponentModel.DataAnnotations
@using System.Reflection
@model Cloudy.CMS.UI.Areas.Admin.Pages.IndexModel
@inject IContentTypeProvider ContentTypeProvider
@inject IContentTypeNameProvider ContentTypeNameProvider

@await Html.PartialAsync("Shared/Nav")

<div class="container">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb mb-4">
            <li class="breadcrumb-item active">Home</li>
        </ol>
    </nav>
</div>

<div class="container">
    <h1 class="h2 mb-3">
        What to edit?
    </h1>
</div>

<div class="container">
    <div class="row">
        @foreach (var contentType in ContentTypeProvider.GetAll())
        {
            var name = ContentTypeNameProvider.Get(contentType.Type);
            var description = contentType.Type.GetCustomAttribute<DisplayAttribute>()?.Description;
            <div class="col-sm-4 mb-4 d-flex">
                <div class="card w-100" style="min-height: 200px;">
                    <div class="card-body">
                        <h5 class="card-title">@name.PluralName</h5>
                        @if (description != null)
                        {
                            <p class="card-text">@description</p>
                        }
                    </div>
                    <div class="card-footer">
                        <a class="btn btn-primary" href="@Url.Page("List", new { area = "Admin", ContentType = contentType.Name })">List all</a>
                        <a class="btn btn-beta" href="@Url.Page("New", new { area = "Admin", ContentType = contentType.Name })">New</a>
                    </div>
                </div>
            </div>
        }
    </div>
</div>

@await Html.PartialAsync("Shared/Footer")