@page
@using System.Text.Json
@model Cloudy.CMS.UI.Areas.Admin.Pages.ListModel

@await Html.PartialAsync("Shared/Nav")

<div class="container">
    <h1 class="h2">Listing @Model.ContentTypeName.PluralName <a class="btn btn-sm btn-primary" href="@Url.Page("New", new { area = "Admin", ContentType = Model.ContentType.Name })">New</a></h1>

    <table class="table">
        <thead>
            <tr>
                @foreach(var column in Model.Columns){
                    <th>@column.Name</th>
                }
                <th></th>
            </tr>
        </thead>
        <tbody id="list-tbody" settings="@JsonSerializer.Serialize(new { ContentType = Model.ContentType.Name, Columns = Model.Columns })"></tbody>
    </table>

    <script type="module" crossorigin src="/_content/Cloudy.CMS.UI/index.bundle.js"></script>
</div>