@using Cloudy.CMS.EntitySupport
@using Cloudy.CMS.EntitySupport.PrimaryKey
@using Cloudy.CMS.UI.List
@model ListColumnViewModel

@inject IPrimaryKeyGetter PrimaryKeyGetter

@{
    var editLink = Url.Page("/Edit", new { area = "Admin", EntityType = Model.EntityType.Name, keys = PrimaryKeyGetter.Get(Model.Instance) });
}

@if (Model.EntityType.IsImageable)
{
    <img class="list-image-in-name" src="@(((IImageable)Model.Instance).Image)" alt="" />
}

<a href="@editLink">@Model.Value</a>