@using Cloudy.CMS.EntitySupport
@using Cloudy.CMS.EntitySupport.PrimaryKey
@using Cloudy.CMS.UI.List
@model ListColumnViewModel

@inject IPrimaryKeyGetter PrimaryKeyGetter

@{
    var editLink = Url.Page("/Edit", new { area = "Admin", EntityType = Model.EntityType.Name, keys = PrimaryKeyGetter.Get(Model.Instance) });
}

@if (Model.EntityType.IsImageable)
{
    var imgSrc = ((IImageable)Model.Instance).Image;
    if (string.IsNullOrEmpty(imgSrc))
    {
        <div class="list-image-in-name list-image-in-name--image-not-set"><span class="list-image-in-name--image-not-set__bg"></span></div>
    }
    else
    {
        <img class="list-image-in-name" src="@imgSrc" alt="" />
    }
}

<a href="@editLink">@Model.Value</a>