@using Cloudy.CMS.ContentTypeSupport
@using Cloudy.CMS.UI.FormSupport
@model FormViewModel

<form method="post">
    @Html.AntiForgeryToken()

    @if (Model.Instance != null)
    {
        @foreach (var field in Model.Fields)
        {
            if (!Model.PrimaryKeyNames.Contains(field.Name))
            {
                continue;
            }

            var property = Model.PropertyDefinitions.Single(p => p.Name == field.Name);

            <input type="hidden" id="field-@field.Name" name="@field.Name" value="@property.Getter(Model.Instance)">
        }
    }

    @foreach (var field in Model.Fields)
    {
        if(Model.PrimaryKeyNames.Contains(field.Name)){
            continue;
        }

        var property = Model.PropertyDefinitions.Single(p => p.Name == field.Name);

        var fieldModel = new FieldViewModel(Model.ContentType, Model.Instance, field, property, property.Getter(Model.Instance));

        if (field.RenderChrome)
        {
            <div class="mb-3">
                <label for="field-@field.Name" class="form-label">@field.Label</label>
                @await Html.PartialAsync(field.Partial, fieldModel)
            </div>
        }
        else
        {
            @await Html.PartialAsync(field.Partial, fieldModel)
        }
    }

    <div class="d-flex">
        <button class="btn btn-primary">Save</button>
    </div>
</form>