


/* VARIABLES */

$padding-base: 1rem;
$large-font: 1.1rem;
$small-font: 0.8rem;

$bright-blue: #0058ad;
$matte-blue: #215b7d;
$dark-blue: #003161;
$almost-black: #252525;
$almost-white: #f1f1f1;
$dark-gray: #444;
$gray: #999;
$light-gray: #ccc;
$green: #7fba00;