@import '../variables.scss';



/* FORM */

.cloudy-ui-form {
    padding: 16px;
}



/* FIELD */

.cloudy-ui-form-field {
    margin: 0;
    padding: 0;
    border: none;

    & + & {
        margin-top: 16px;
    }
}

fieldset.cloudy-ui-form-field {
    min-inline-size: unset;
    background: transparent;
    border: solid 1px rgba(0, 0, 0, 0.23);
    border-radius: 4px;
    padding: 10px 14px 14px;
}



/* LABEL */

.cloudy-ui-form-field-label {
    display: block;
    font-size: 12px;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    font-weight: 400;
    line-height: 1;
    letter-spacing: 0.00938em;
    color: rgba(0, 0, 0, 0.54);
    transition: color 200ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;

    &.cloudy-ui-focus {
        color: $bright-blue;
    }

    .cloudy-ui-form-field:hover > & {
        color: black;
    }

    .cloudy-ui-form-field:focus-within > & {
        color: $bright-blue;
    }

    fieldset.cloudy-ui-form-field > & {
        padding: 0 8px;
    }
}



/* INPUT */

.cloudy-ui-form-input {
    box-sizing: content-box;
    margin: 0;
    display: block;
    width: 100%;
    height: 1.1875em;
    padding: 8px 0 7px;
    border: none;
    border-bottom: 1px solid rgba(0, 0, 0, 0.42);
    background-color: transparent;
    /*transition: border-bottom-color 200ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;*/
    font: inherit;
    color: currentColor;

    .cloudy-ui-form-field.cloudy-ui-simple:hover &,
    &:hover {
        border-bottom-color: black;
    }

    &:focus,
    .cloudy-ui-form-field.cloudy-ui-simple:hover &:focus {
        outline: none;
        border-bottom-color: #1976d2;
    }
}

textarea.cloudy-ui-form-input {
    height: auto;
    word-break: break-all;
}



/* GRAPHICAL CHECKBOX */

cloudy-ui-checkbox-container {
    margin-left: -12px;
    display: flex;
}

.cloudy-ui-checkbox {
    opacity: 0;
    position: absolute;
}

.cloudy-ui-graphical-checkbox {
    flex-grow: 0;
    display: block;
    width: 42px;
    height: 42px;
    border-radius: 50%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 24px;
    background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath d='M19 5v14H5V5h14m0-2H5a2 2 0 00-2 2v14c0 1.1.9 2 2 2h14a2 2 0 002-2V5a2 2 0 00-2-2z' fill-opacity='.54'/%3E%3C/svg%3E");
    transition: background-color 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    cursor: pointer;

    input:checked + & {
        background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath d='M19 3H5a2 2 0 00-2 2v14c0 1.1.9 2 2 2h14a2 2 0 002-2V5a2 2 0 00-2-2zm-9 14l-5-5 1.4-1.4 3.6 3.6 7.6-7.6L19 8l-9 9z' fill='%231976d2'/%3E%3C/svg%3E");
    }

    cloudy-ui-checkbox-container:hover & {
        background-color: rgba(0, 0, 0, 0.04);
    }
}

cloudy-ui-checkbox-label {
    flex-grow: 1;
    padding: 9px 0;
    
    .cloudy-ui-checkbox:focus + .cloudy-ui-graphical-checkbox + & {
        color: $bright-blue;
    }
}



/* SORTABLE FIELD */

cloudy-ui-sortable {
    display: block;
}

cloudy-ui-sortable-items {
    display: block;
}

cloudy-ui-sortable-item {
    display: flex;
}

cloudy-ui-sortable-item-field {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

cloudy-ui-sortable-item-action {
    flex-grow: 0;
}

cloudy-ui-sortable-item-form {
    margin: 8px 0;
    flex: 1;
    display: flex;
    border-radius: 4px;
    padding: 14px;
    padding-right: 2px;
    border-radius: 4px;
    border: solid 1px rgba(0, 0, 0, 0.23);

    .cloudy-ui-embedded-form {
        flex: 1;
    }
}

cloudy-ui-sortable-buttons {
    display: block;
    font-size: $small-font;
    text-align: right;
}



/* EMBEDDED FORM */

.cloudy-ui-embedded-form-label {
    display: flex;
    
    .cloudy-ui-form-field-label {
        flex: 1 1 auto;
    }
}



/* FORM TABLE */

cloudy-ui-form-table {
    cloudy-ui-data-table-header {
        padding-left: 16px;
        padding-right: 16px;
    }

    > cloudy-ui-data-table {
        margin-left: -16px;
        margin-right: -16px;
    }

    cloudy-ui-data-table-footer {
        padding-left: 16px;
        padding-right: 16px;
    }
}