/* VARIABLES */
/* FORM */
.poetry-ui-form {
  padding: 16px; }

/* FIELD */
.poetry-ui-form-field {
  margin: 0;
  padding: 0;
  border: none; }
  .poetry-ui-form-field + .poetry-ui-form-field {
    margin-top: 16px; }

fieldset.poetry-ui-form-field {
  min-inline-size: unset; }

/* LABEL */
.poetry-ui-form-field-label {
  margin-bottom: 8px;
  display: block;
  padding: 0;
  transition: color 200ms cubic-bezier(0, 0, 0.2, 1) 0ms;
  font-size: 1rem;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  font-weight: 400;
  line-height: 1;
  letter-spacing: 0.00938em; }
  .poetry-ui-form-field-label.poetry-ui-enlargeable-label {
    margin-bottom: 0;
    transition: color 200ms cubic-bezier(0, 0, 0.2, 1) 0ms, transform 200ms cubic-bezier(0, 0, 0.2, 1) 0ms;
    transform: translate(0, 1.5px) scale(0.75);
    transform-origin: top left;
    color: rgba(0, 0, 0, 0.54); }
    .poetry-ui-form-field-label.poetry-ui-enlargeable-label.poetry-ui-enlarge-label {
      transform: translate(0, 24px) scale(1);
      cursor: text; }
  .poetry-ui-form-field-label.poetry-ui-focus {
    color: #1976d2; }

/* INPUT */
.poetry-ui-form-input {
  box-sizing: content-box;
  margin: 0;
  display: block;
  width: 100%;
  height: 1.1875em;
  padding: 6px 0 7px;
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.42);
  background-color: rgba(0, 0, 0, 0.04);
  transition: border-bottom-color 200ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  font: inherit;
  color: currentColor; }
  .poetry-ui-form-field.poetry-ui-simple:hover .poetry-ui-form-input, .poetry-ui-form-input:hover {
    border-bottom-color: black; }
  .poetry-ui-form-input:focus,
  .poetry-ui-form-field.poetry-ui-simple:hover .poetry-ui-form-input:focus {
    outline: none;
    border-bottom-color: #1976d2; }

textarea.poetry-ui-form-input {
  height: auto;
  word-break: break-all; }

/* GRAPHICAL CHECKBOX */
poetry-ui-checkbox-container {
  margin-left: -12px;
  display: flex; }

.poetry-ui-checkbox {
  opacity: 0;
  position: absolute; }

.poetry-ui-graphical-checkbox {
  flex-grow: 0;
  display: block;
  width: 42px;
  height: 42px;
  border-radius: 50%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 24px;
  background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath d='M19 5v14H5V5h14m0-2H5a2 2 0 00-2 2v14c0 1.1.9 2 2 2h14a2 2 0 002-2V5a2 2 0 00-2-2z' fill-opacity='.54'/%3E%3C/svg%3E");
  transition: background-color 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  cursor: pointer; }
  input:checked + .poetry-ui-graphical-checkbox {
    background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath d='M19 3H5a2 2 0 00-2 2v14c0 1.1.9 2 2 2h14a2 2 0 002-2V5a2 2 0 00-2-2zm-9 14l-5-5 1.4-1.4 3.6 3.6 7.6-7.6L19 8l-9 9z' fill='%231976d2'/%3E%3C/svg%3E"); }
  poetry-ui-checkbox-container:hover .poetry-ui-graphical-checkbox {
    background-color: rgba(0, 0, 0, 0.04); }

poetry-ui-checkbox-label {
  flex-grow: 1;
  padding: 9px 0; }
  .poetry-ui-checkbox:focus + .poetry-ui-graphical-checkbox + poetry-ui-checkbox-label {
    color: #1976d2; }

/* SORTABLE FIELD */
poetry-ui-sortable {
  display: block; }

poetry-ui-sortable-items {
  margin-bottom: 0.5rem;
  display: block; }

poetry-ui-sortable-item {
  display: flex; }

poetry-ui-sortable-item-field {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center; }

poetry-ui-sortable-item-action {
  flex-grow: 0; }

poetry-ui-sortable-item-form {
  flex: 1;
  padding-left: 2px; }

poetry-ui-sortable-buttons {
  display: block;
  font-size: 0.8rem;
  text-align: right; }

/* EMBEDDED FORM */
.poetry-ui-embedded-form-label {
  display: flex; }
  .poetry-ui-embedded-form-label .poetry-ui-form-field-label {
    flex: 1 1 auto; }

.poetry-ui-embedded-form,
poetry-ui-sortable-item-form {
  padding: 16px;
  border-radius: 4px;
  background-color: rgba(0, 0, 0, 0.04); }

poetry-ui-sortable-item-form {
  margin-bottom: 8px;
  display: flex;
  padding-right: 2px; }

poetry-ui-sortable-item-form .poetry-ui-embedded-form {
  flex: 1;
  padding: 0;
  border-radius: 0;
  background: 0; }

/* FORM TABLE */
poetry-ui-form-table poetry-ui-data-table-header {
  padding-left: 16px;
  padding-right: 16px; }

poetry-ui-form-table > poetry-ui-data-table {
  margin-left: -16px;
  margin-right: -16px; }

poetry-ui-form-table poetry-ui-data-table-footer {
  padding-left: 16px;
  padding-right: 16px; }
