@page "ContentType"
@model Cloudy.CMS.UI.Pages.Admin.ListModel
@{
}

<table class="table">
    <thead>
        <tr>
            @foreach(var column in Model.Columns){
                <th>@column.Name</th>
            }
        </tr>
    </thead>
</table>