@page "ContentType"
@model Cloudy.CMS.UI.Pages.Admin.ListModel

@await Html.PartialAsync("Nav")

<div class="container">
    <h1 class="h2">Listing @Model.ContentTypeName.PluralName <a class="btn btn-sm btn-primary">New</a></h1>

    <table class="table">
        <thead>
            <tr>
                @foreach(var column in Model.Columns){
                    <th>@column.Name</th>
                }
            </tr>
        </thead>
    </table>
</div>