@model Website.AspNetCore.Models.ArticlePage
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Article</title>
</head>
<body>
    <h1>@Model.Name</h1>
    <p>@Model.Text</p>
</body>
</html>
