@model Website.AspNetCore.Models.StartPage

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Start</title>
</head>
<body>
    <h1>Start page (@Model.Id)</h1>
</body>
</html>
