@import '../variables.scss';

cloudy-ui-loading {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0,0,0,.4);
    z-index: 999;
    color: $white;
    pointer-events: none;
    display: none;
    
    &.visible {
        display: flex;
    }
}