/* VARIABLES */
cloudy-ui-loading {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.4);
  z-index: 999;
  color: #ffffff;
  pointer-events: none;
  display: none;
}
cloudy-ui-loading.visible {
  display: flex;
}
cloudy-ui-loading .loading-close {
  position: absolute;
  right: 15px;
  top: 15px;
  z-index: 9999;
  cursor: pointer;
  pointer-events: all;
  border: none;
  width: 20px;
  height: 20px;
}