/* VARIABLES */
/* LIST */
poetry-ui-list {
  display: block;
  padding: 8px 0; }

poetry-ui-list-item {
  display: block;
  padding: 12px 16px;
  transition: background-color 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  cursor: pointer; }
  poetry-ui-list-item:hover {
    background-color: rgba(0, 0, 0, 0.04); }
  poetry-ui-list-item.poetry-ui-active, poetry-ui-list-item:focus {
    background-color: rgba(0, 0, 0, 0.1); }
  poetry-ui-list-item:focus {
    outline: none; }

poetry-ui-list-item-text {
  display: block; }

poetry-ui-list-item-sub-text {
  display: block;
  font-size: 0.875rem;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  font-weight: 400;
  color: rgba(0, 0, 0, 0.54);
  line-height: 1.43;
  letter-spacing: 0.01071em; }
