poetry-ui-login-container {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center; }

.poetry-ui-login {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 300px;
  border-radius: 4px;
  background: white;
  box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
  transition: opacity 225ms cubic-bezier(0.4, 0, 0.2, 1) 0ms; }

poetry-ui-login-header {
  padding: 16px 16px 0;
  font-size: 1.25rem;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  font-weight: 500;
  line-height: 1.6;
  letter-spacing: 0.0075em; }

poetry-ui-login-footer {
  padding: 0 16px 16px;
  display: flex;
  flex-direction: column; }
  poetry-ui-login-footer .poetry-ui-button {
    margin-left: auto; }
