/* VARIABLES */
/* BUTTON */
.poetry-ui-menu-outer {
  position: relative;
  display: inline-block; }

poetry-ui-menu-button {
  display: block;
  width: 3.25rem;
  height: 3.25rem;
  background-position: 50% 56%;
  background-repeat: no-repeat;
  background-size: 24px;
  background-image: url("data:image/svg+xml,%3Csvg height='24' width='24' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath d='M3 18h18v-2H3v2zm0-5h18v-2H3v2zm0-7v2h18V6H3z' fill='%23999'/%3E%3C/svg%3E");
  vertical-align: top;
  cursor: pointer; }
  poetry-ui-menu-button:focus {
    outline: none;
    box-shadow: 0 0 0 0.25rem rgba(0, 88, 173, 0.25); }
  poetry-ui-menu-button.poetry-ui-active {
    background-image: url("data:image/svg+xml,%3Csvg height='24' width='24' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath d='M3 18h18v-2H3v2zm0-5h18v-2H3v2zm0-7v2h18V6H3z' fill='%230058ad'/%3E%3C/svg%3E"); }

poetry-ui-menu {
  margin-top: 8px;
  margin-left: -10px;
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 10;
  display: block;
  border: solid 2px #ccc;
  background: white;
  box-shadow: 0 0 0 2px white; }

poetry-ui-menu-item {
  position: relative;
  display: block;
  padding: 5px;
  font-size: 0.8rem;
  white-space: nowrap;
  text-align: left;
  cursor: pointer; }
  poetry-ui-menu-item:hover {
    background: #f1f1f1; }
  poetry-ui-menu-item:focus {
    outline: none;
    box-shadow: 0 0 0 0.25rem rgba(0, 88, 173, 0.25); }
  poetry-ui-menu-item + poetry-ui-menu-item {
    border-top: #eee; }
  poetry-ui-menu-item[poetry-ui-disabled] {
    color: #999;
    cursor: default; }
    poetry-ui-menu-item[poetry-ui-disabled]:hover {
      background: transparent; }
