


/* VARIABLES */

$padding-base: 1rem;
$large-font: 1.0rem;
$small-font: 0.8rem;

$screen-xs: 320px;
$screen-tn: 576px;
$screen-sm: 768px;
$screen-md: 992px;
$screen-lg: 1200px;

$bright-blue: #1976d2;
$matte-blue: #215b7d;
$dark-blue: #003161;
$almost-black: #252525;
$almost-white: #f1f1f1;
$dark-gray: #444;
$gray: #999;
$light-gray: #ccc;
$green: #7fba00;