@using Cloudy.CMS.SingletonSupport;
@using TestWebsite.Models;
@model TestWebsite.Models.Page

@inject ISingletonGetter SingletonGetter

@{
    var siteSettings = await SingletonGetter.Get<SiteSettings>();
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>@siteSettings?.SiteName - @Model.Name</title>

    <meta name="viewport" content="width=device-width,initial-scale=1">

    <link rel="icon" href="data:;base64,iVBORw0KGgo=">

    <link rel="stylesheet" type="text/css" href="/main.css" />
</head>
<body>
    <h1>@Model.Name</h1>
    <p>@Model.Description</p>
</body>
</html>
