@using Microsoft.Extensions.Configuration
@using Cloudy.CMS.Naming
@using System.Reflection
@inject IConfiguration Configuration
@inject IHumanizer Humanizer

@{
    var viteBaseUri = Configuration["ViteBaseUri"]?.TrimEnd('/');
}

<!doctype html>
<html lang="en">
    <head>
        <title>@Humanizer.Humanize(Assembly.GetEntryAssembly().GetName().Name)</title>
        <link rel="icon" href="data:;base64,iVBORw0KGgo=">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">
        <script async src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa" crossorigin="anonymous"></script>
        <link href="https://cdn.quilljs.com/1.2.6/quill.snow.css" rel="stylesheet">
        <script async src="https://cdn.quilljs.com/1.2.6/quill.min.js"></script>

        <link href="/_content/Cloudy.CMS.UI/index.css" rel="stylesheet">
        <script async type="module" crossorigin="anonymous" src="/_content/Cloudy.CMS.UI/main.js"></script>
        <meta name="viewport" content="width=device-width, initial-scale=1" />
    </head>
    <body>
        @RenderBody()
    </body>
</html>