@using Cloudy.CMS.Naming
@using System.Reflection
@inject IHumanizer Humanizer

<div class="mt-4"></div>
<div class="bg-light p-4 mt-auto">
    @Humanizer.Humanize(Assembly.GetEntryAssembly().GetName().Name), @DateTime.Now.Year.
</div>