@using Cloudy.CMS.Naming
@using System.Reflection
@inject IHumanizer Humanizer

<div class="bg-light mt-4 p-4">
    @Humanizer.Humanize(Assembly.GetEntryAssembly().GetName().Name), @DateTime.Now.Year.
</div>