@using Cloudy.CMS.Naming
@using System.Reflection
@inject IHumanizer Humanizer

<div class="mt-4"></div>
<div class="footer p-4 mt-auto">
    <div class="container">
        @Humanizer.Humanize(Assembly.GetEntryAssembly().GetName().Name), @DateTime.Now.Year.
    </div>
</div>