a {
    cursor: pointer;
}

.btn-beta {
    border: solid 1px var(--bs-border-color-translucent);
}

.dropdown-menu {
    width: 300px;
}

.dropdown-item {
    text-overflow: ellipsis;
    overflow: hidden;
}