body {
    background: rgba(black, 0.045);
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

a {
    cursor: pointer;
}

.btn-beta {
    border: solid 1px #ced4da;
}

.navbar {
    background: #fcfcfc;
    border-bottom: 1px solid #ddd;
}

.footer {
    background: #fcfcfc;
    border-top: 1px solid #ddd;
}

@media (min-width: 992px) {
    .container {
        max-width: 960px;
    }
}

// Dropdowns

.dropdown-menu {
    width: 300px;
}

.dropdown-item {
    text-overflow: ellipsis;
    overflow: hidden;
}



/* LIST PAGE */

.list-page-header {
    display: flex;
    flex-direction: row;
}

.list-page-search {
    width: 100%;
    max-width: 250px;
    margin-bottom: 20px;
    margin-right: auto;
}

.list-filter {
    width: 250px;

    .form-select {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
}

.list-page-blank-row td {
    border-bottom-color: transparent;
}

.list-icon {
    display: inline-block;
    width: 1.4em;
    margin-right: 0.2rem;
}

/* HTML CONTROL */

.ql-toolbar.ql-snow {
    border-top-left-radius: .375rem;
    border-top-right-radius: .375rem;
}
.ql-container.ql-snow {
    border-bottom-left-radius: .375rem;
    border-bottom-right-radius: .375rem;
}

/* INFORMATION MISSING */

.information-missing {
    font-style: italic;
}