body {
    background: rgba(black, 0.045);
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

a {
    cursor: pointer;
}

.btn-beta {
    border: solid 1px var(--bs-border-color-translucent);
}

.navbar {
    background: #fcfcfc;
    border-bottom: 1px solid #ddd;
}

.footer {
    background: #fcfcfc;
    border-top: 1px solid #ddd;
}

@media (min-width: 992px) {
    .container {
        max-width: 960px;
    }
}

// Dropdowns

.dropdown-menu {
    width: 300px;
}

.dropdown-item {
    text-overflow: ellipsis;
    overflow: hidden;
}